.board-block {
	// border-bottom: 5px solid var(red);
	border:5px solid red;
	border-radius: 1%;
	@media screen and (max-width: 1024px) {
		> .row {
			align-items: center;
		}
	}
	.pattern-side {
		/* Called Numbers */
		.callNumber {
			font-family: var(--condensed-font);
			width: 100%;
			font-size: 2rem;
			text-align: right;
			color: blue;
			margin-bottom: 0.5rem;

			span {
				background: #161616;
				text-align: center;
				width: 45%;
				display: inline-block;
				padding: 0.25rem;
			}
		}
		.callNumber-text {
			font-family: var(--condensed-font);
			font-size: 0.8rem;

			@media screen and (max-width: 700px) {
				font-size: 1rem;
			}
		}
		/* Pattern */
		#bingopattern {
			display: flex;
			margin: 0 auto;
			align-items: flex-start;
			width: 160px;
			.row {
				flex-basis: 1 1 20%;
				&:nth-child(1) .col:first-child {
					span {
						transform: rotate(-15deg);
					}
				}
				&:nth-child(2) .col:first-child {
					span {
						margin-top: -0.5rem;
						transform: rotate(-7deg);
					}
				}
				&:nth-child(3) .col:first-child {
					span {
						margin-top: -0.75rem;
					}
				}
				&:nth-child(4) .col:first-child {
					span {
						margin-top: -0.5rem;
						transform: rotate(7deg);
					}
				}
				&:nth-child(5) .col:first-child {
					span {
						transform: rotate(15deg);
					}
				}
			}
			.col {
				padding: 4px;
				height: 32px;
				width: 32px;
				position: relative;
				// Letters along the top
				&:first-child {
					line-height: 1.5;
					height: 3rem;
					span {
						font-size: 1.5rem;
						font-family: var(--body-font);
						font-weight: 800;

						@media screen and (max-width: 700px) {
							font-size: 1.5rem;
						}
					}
				}
				// Pattern letters
				&:not(:first-child) {
					background: #efefef;
					border: 1px solid #ffffff;
				}
				nav {
					align-items: center;
					// top: 0;
					// left: 0;
					// right: 0;
					// bottom: 0;
					height:20px;
					width:20px;
					border-radius: 50%;
					margin: .5rem;
					animation : scaling 5s ease-in-out infinite;
					background-color: red;

					&.free-space {
						font-size: 0.5rem;
						line-height: 1.5;
						margin: 2px;
						text-align: center;
						text-transform: uppercase;
						color: cyan;
						@media screen and (max-width: 700px) {
							font-size: 10px;
							margin: 0.25em;
						}
					}
					&.n0{
						color: red;
						animation-delay: 0.2s;
						
						animation-fill-mode: forwards;
					}
					&.n1{
						color: red;
						animation-delay: 0.4s;
						
						animation-fill-mode: forwards;
					}&.n2{
						color: red;
						animation-delay: 0.6s;
						
						animation-fill-mode: forwards;
					}&.n3{
						color: red;
						animation-delay: 0.8s;
						
						animation-fill-mode: forwards;
					}&.n4{
						color: red;
						animation-delay: 1s;
						
						animation-fill-mode: forwards;
					}
			
			
					&.i0{
						color: red;
						animation-delay: 5.2s;
						
						animation-fill-mode: forwards;
					}
					&.i1{
						color: red;
						animation-delay: 5.4s;
						
						animation-fill-mode: forwards;
					}&.i2{
						color: red;
						animation-delay: 5.6s;
						
						animation-fill-mode: forwards;
					}&.i3{
						color: red;
						animation-delay: 5.8s;
						
						animation-fill-mode: forwards;
					}&.i4{
						color: red;
						animation-delay: 6s;
						
						animation-fill-mode: forwards;
					}

				}
				.loading-dot.hidden {
					opacity: 0;
					transition: opacity 0.5s; /* Adjust the transition duration as needed */
				  }
				@keyframes scaling {
					0%{
						transform: scale(0.2);
						background-color: green;
					}
					 100%{
						transform: scale(0.2);
						background-color: green;
						visibility: hidden;
					}
					40%{
						transform:scale(1) ;
						background-color: lightblue;
					}
					50%{
					transform:scale(1);
					background-color: blue;
					}

					
				}
				
				// &.selected {
				// 	span {
				// 		background-color: darkolivegreen;
						
				// 		margin: 3px;

				// 		@media screen and (max-width: 1024px) {
				// 			margin: 3px;
				// 		}
				// 		&.free-space {
				// 			overflow: hidden;
				// 			color: #c70600;
				// 		}
				// 	}
				// }
				&:hover {
					cursor: pointer;
				}
			}
		}
		/* Pattern Select */
		.pattern-select {
			width: 100%;
			display: block;
			border: 1px solid #fff;

			div[class$="-singleValue"] {
				color: #888888;
			}
			div[class$="-Input"] {
				color: white;
			}
			div[class$="-control"] {
				background: #222;
				border: none;
				color: #efefef;
				border-radius: 0;
			}
			div[class$="-menu"] * {
				color: #222222;
			}
		}
	}
	.board-side {
		#board {
			padding: 1rem;
			display: flex;
			flex-flow: column;
			align-self: stretch;
			justify-content: space-between;

			* {
				font-size: 2.7rem;
				line-height: 1.5;

				@media screen and (max-width: 700px) {
					font-size: 20px;
				}
			}
			.board-letter {
				flex: 0 0 1.25em !important;
				font-weight: bold;
			}
			.ball {
				color: white;

				button {
					font-family: inherit;
					white-space: nowrap;
					font-size: inherit;
					border-radius: unset;
					padding: unset;
					margin: unset;
					border: unset;
					color: inherit;
					background-color: inherit;
					transition: inherit;
					&:hover {
						background: inherit;
						color: inherit;
					}
					&:focus {
						outline: none;
					}
				}
				&.called {
					
					border: 4px solid #fff;
					border-radius: 10%;
					background-color: red;
					color:#fff ;

				}
				&.active {
					
						animation: blink-and-grow 1s infinite;
						// font-size: 20px; /* Adjust as needed */
						/* Optional: Add some styling here if you want */
						/* background-color: #f0f0f0;
						   border: 2px solid black; */
					  
						   color: #ffffff;
					  @keyframes blink-and-grow {
						0% {
						  opacity: 1;
						  transform: scale(1); /* Start at normal size */
						}
						50% {
						  opacity: 0.5;
						  transform: scale(2.5); /* Grow slightly */
						}
						100% {
						  opacity: 1;
						  transform: scale(1)rotate(360deg); /* Return to normal size */
						}
					  }
					
				
				}
			}
		}
	}
}
